#container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.gridContainer
{
    display: flex; 
    flex-wrap: wrap;
    margin-top: 40px;
    border:1px solid black;
}

.btnContainer
{
    display: flex;
    gap: 20px; 
}

button
{
    background-color: black;
    color: white; 
    padding: 10px;
    font-weight: bolder;
    border: none;
    border-radius: 8px;
    transition: .3s;
}

button:hover
{
    background-color: greenyellow;
    cursor: pointer;
}